body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ff9900;
}

.relatorio-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(212, 211, 211);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
}

.relatorio-header {
    background-color: #e9e9e9;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    font-size: 20px;
    font-weight: bold;
}

.relatorio-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.relatorio-item {
    padding: 15px 20px;
    border-bottom: 1px solid #2b2b2baf;
    display: flex;
    flex-direction: column;
}

.item-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.item-tipo {
    font-weight: bold;
    color: #e74c3c; /* Vermelho para alertas */
}

.item-tipo.chegada {
    color: #2ecc71; /* Verde para chegadas */
}

.item-tipo.informacao {
    color: #3498db; /* Azul para informações */
}

.item-tipo.atencao {
    color: #f39c12; /* laranja para atenções */
}

.item-hora {
    color: #7f8c8d;
    font-size: 14px;
}

.item-descricao {
    color: #333;
}






.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.menu-item {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #555;
}