/* Fundo */
body {
    margin: 0;
    padding: 0;
    background: #595959;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

/* Caixa principal */
.container {
    background: #ffffff;
    width: 800px;
    margin-top: 50px;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.35);
}

/* Título */
.container h2 {
    font-size: 26px;
    margin-bottom: 25px;
    text-align: center;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    background: #f5f5f5;
    padding: 10px;
    border-bottom: 2px solid #ddd;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Botão editar */
.btn-edit {
    text-decoration: none;
    color: #d17373;
    font-weight: bold;
}

.btn-edit:hover {
    text-decoration: underline;
}

/* Botão voltar */
.btn-voltar {
    display: block;
    margin: 20px auto 0 auto;
    width: 200px;
    padding: 12px;
    background: #e08b8b;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
}

.btn-voltar:hover {
    background: #d17373;
}
