body {
    background-color: black;
}

h2, h3 {
    color: rgb(255, 255, 255);
}

.senha {
    max-width: 50%;
    text-align: center;
    background-color: brown;
    border-radius: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
}

.img img {
    width: 500px;   
    height: auto;  
    border-radius: 6px; 
}