body {
    background-color: #ff9900;
}

.piranha {
    align-items: center;
    text-align: center;
    border-radius: 8px;
    height: 300px;
    color: rgb(0, 0, 0);
}

.img {
    
}


.meubago {
    display: flex;
    gap: 15px;
}

.Info {
    background-color: white;
    border-radius: 8px ;
}
